// constants

$dark-blue: #37969A;
$light-blue: #56BBBF;
$white: #FFFFFF;
$light-green: #ADFCAE;
$dark-green: #82EB84;
$yellow: #FDFD97;
$orange: #FFB55F;
$light-pink: #FAD5EE;
$medium-pink: #EFB6DD;
$dark-pink: #D993C8;
$dark-grey: #454444;
$light-grey: #E6E6E6;

$font-p-size: 1.4vw;