@use "constants";

/* --- header section --- */

.manage-weight-header {
  @extend %shared-box;
  background: radial-gradient(closest-side, constants.$medium-pink, constants.$medium-pink, constants.$dark-pink);
  height: 35vw;
  overflow: hidden;
  span {
    color: constants.$yellow;
  }
  .manage-weight-header-image {
    height: 35vw;
    img {
      max-height: 35vw;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .manage-weight-header-box {
    @extend %shared-box-content;
    width: 65vw;
    margin: 7vw 0 0 15vw;
  }
}

/* --- forms sections --- */

.manage-weight-main {
  background-color: constants.$light-grey;
  padding: 3vw 7vw;
  color: constants.$dark-grey;
  .main-header-text {
    background-color: constants.$dark-blue;
    color: constants.$white;
    border-radius: 0.5vw 0.5vw 0 0;
    padding: 2vw;
    text-align: center;
    h2 {
      span {
        color: constants.$light-green;
      }
    }
    h3 {
      padding: 1vw 0 0 0;
    }
  }
  .main-content {
    background-color: constants.$white;
    padding: 3vw 7vw 5vw 7vw;
    margin-bottom: 3vw;
    h3 {
      padding: 0;
      font-weight: 900;
    }
    .gender-box, .action-box {
      padding-bottom: 3vw;
      .gender-container, .action-container {
        display: flex;
        justify-content: space-between;
        input {
          position: absolute;
          opacity: 0;
          height: 0;
          width: 0;
        }
        .text-box {
          text-align: center;
          h3 {
            line-height: constants.$font-h3-size;
            padding-bottom: 1vw;
          }
        }
        .male, .female, .gain, .lose {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 34vw;
          background-color: constants.$medium-grey;
          padding: 1vw 3vw;
          cursor: pointer;
          color: constants.$white;
          font-size: constants.$font-h1-size;
        }
        .gain, .lose {
          font-size: constants.$font-h2-size;
        }
        .male-input:checked ~ .male {
          background-color: constants.$light-blue;
        }
        .female-input:checked ~ .female {
          background-color: constants.$dark-pink;
        }
        .gain-input:checked ~ .gain {
          background-color: constants.$dark-green;
        }
        .lose-input:checked ~ .lose {
          background-color: constants.$aqua;
        }
      }
    }
    .weight-height-age-container, .desired-weight-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 3vw;
    }
    .desired-weight-container {
      justify-content: center;
    }
    .activity-options-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: constants.$aqua;
      height: 1vw;
      margin: 2vw 0;
      .container {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-bottom: 3vw;
        margin-right: 3vw;
      }
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 3vw;
        width: 3vw;
        background-color: constants.$white;
        border-radius: 50%;
        border: solid constants.$aqua;
      }
      .container:hover input ~ .checkmark {
        background-color: constants.$light-grey;
      }
      .container input:checked ~ .checkmark {
        background-color: constants.$dark-blue;
      }
    }
    .label-text {
      display: flex;
      justify-content: space-between;
      padding-bottom: 3vw;
      h4 {
        margin: 0;
      }
    }
    button:disabled, button[disabled] {
      color: constants.$medium-grey;
      border-color: constants.$medium-grey;
      background-color: constants.$white;
    }
    button:enabled {
      color: constants.$white;
      border-color: constants.$dark-orange;
      background-color: constants.$dark-orange;
    }
    button:enabled:hover {
      background-color: constants.$light-orange;
      border-color: constants.$light-orange;
    }
    .calculate-makro {
      button:enabled {
        border-color: constants.$fuccia;
        background-color: constants.$fuccia;
      }
      button:enabled:hover {
        background-color: constants.$dark-pink;
        border-color: constants.$dark-pink;
      }
    }
    .weight, .height, .age {
      position: relative;
      input {
        border: 1px solid constants.$medium-grey;
        font-size: constants.$font-h3-size;
        height: 6vw;
        padding: 2vw;
        width: 15vw;
      }
      .unit {
        position: absolute;
        display: block;
        left: 7vw;
        top: 4vw;
        z-index: 9;
        font-weight: 400;
        color: constants.$medium-grey;
      }
    }
    .age {
      .unit {
        left: 5.5vw;
      }
    }
    .calculate-calories, .calculate-makro {
      display: flex;
      justify-content: space-between;
      h3 {
        font-weight: 400;
        width: 30vw;
        text-align: right;
        span {
          font-weight: 900;
        }
      }
    }
    .calculate-makro {
      justify-content: center;
    }
  }

  .main-two-header-text {
    background-color: constants.$purple;
    h2 {
      span {
        color: constants.$yellow;
      }
    }
  }
}

/* --- macronutrient summary section --- */

.macronutrient-summary {
  padding: 6vw 4.5vw;
  width: 100vw;
  position: relative;  background: radial-gradient(closest-side, constants.$light-orange, constants.$light-orange, constants.$dark-orange);
  color: constants.$dark-grey;
  h3 {
    padding: 0;
  }
  .macronutrient-summary-box {
    display: flex;
    justify-content: space-between;
  }
  .macro-card {
    background-color: constants.$white;
    border-radius: 0.5vw;
    width: 25%;
    margin: 0 1.5vw;
  }
}