@use "constants";

/* --- header section --- */

.manage-weight-header {
  @extend %shared-box;
  background: radial-gradient(closest-side, constants.$medium-pink, constants.$medium-pink, constants.$dark-pink);
  height: 35vw;
  overflow: hidden;
  span {
    color: constants.$yellow;
  }
  .manage-weight-header-image {
    height: 35vw;
    img {
      max-height: 35vw;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .manage-weight-header-box {
    @extend %shared-box-content;
    width: 65vw;
    margin: 7vw 0 0 15vw;
  }
}

/* --- forms sections --- */

.manage-weight-main, .manage-weight-main-cards {
  background-color: constants.$light-grey;
  padding: 3vw 7vw;
  color: constants.$dark-grey;
  .main-header-text {
    background-color: constants.$dark-blue;
    color: constants.$white;
    border-radius: 0.5vw 0.5vw 0 0;
    padding: 2vw;
    text-align: center;
    h2 {
      span {
        color: constants.$light-green;
      }
    }
    h3 {
      padding: 1vw 0 0 0;
    }
  }
  .main-content {
    background-color: constants.$white;
    padding: 3vw 7vw 5vw 7vw;
    margin-bottom: 3vw;
    h3 {
      padding: 0 0 1vw 0;
      span {
        font-weight: 900;
      }
    }
    .gender-box, .action-box {
      padding-bottom: 3vw;
      .gender-container, .action-container {
        display: flex;
        justify-content: space-between;
        input {
          position: absolute;
          opacity: 0;
          height: 0;
          width: 0;
        }
        .text-box {
          text-align: center;
          h3 {
            line-height: constants.$font-h3-size;
            padding-bottom: 1vw;
          }
        }
        .male, .female, .gain, .lose {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 34vw;
          background-color: constants.$medium-grey;
          padding: 1vw 3vw;
          cursor: pointer;
          color: constants.$white;
          font-size: constants.$font-h1-size;
        }
        .gain, .lose {
          font-size: constants.$font-h2-size;
        }
        .male-input:hover ~ .male {
          background-color: constants.$aqua;
        }
        .female-input:hover ~ .female {
          background-color: constants.$medium-pink;
        }
        .gain-input:hover ~ .gain {
          background-color: constants.$light-green;
        }
        .lose-input:hover ~ .lose {
          background-color: constants.$aqua;
        }
        .male-input:checked ~ .male {
          background-color: constants.$light-blue;
        }
        .female-input:checked ~ .female {
          background-color: constants.$dark-pink;
        }
        .gain-input:checked ~ .gain {
          background-color: constants.$dark-green;
        }
        .lose-input:checked ~ .lose {
          background-color: constants.$light-blue;
        }
      }
    }
    .weight-height-age-container, .desired-weight-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 3vw;
    }
    .activity-options-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: constants.$aqua;
      height: 1vw;
      margin: 2vw 0;
      .container {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-bottom: 3vw;
        margin-right: 3vw;
      }
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 3vw;
        width: 3vw;
        background-color: constants.$white;
        border-radius: 50%;
        border: solid constants.$aqua;
      }
      .container:hover input ~ .checkmark {
        background-color: constants.$light-grey;
      }
      .container input:checked ~ .checkmark {
        background-color: constants.$dark-blue;
      }
    }
    .label-text {
      display: flex;
      justify-content: space-between;
      padding-bottom: 3vw;
      h4 {
        margin: 0;
      }
    }
    button:disabled, button[disabled] {
      color: constants.$medium-grey;
      border-color: constants.$medium-grey;
      background-color: constants.$white;
    }
    button:enabled {
      color: constants.$white;
      border-color: constants.$dark-orange;
      background-color: constants.$dark-orange;
    }
    button:enabled:hover {
      background-color: constants.$light-orange;
      border-color: constants.$light-orange;
    }
    .calculate-makro {
      button:enabled {
        border-color: constants.$fuccia;
        background-color: constants.$fuccia;
      }
      button:enabled:hover {
        background-color: constants.$dark-pink;
        border-color: constants.$dark-pink;
      }
    }
    .weight, .height, .age {
      position: relative;
      input {
        border: 1px solid constants.$medium-grey;
        font-size: constants.$font-h3-size;
        height: 6vw;
        padding: 2vw;
        width: 15vw;
      }
      .unit {
        position: absolute;
        display: block;
        left: 7vw;
        top: 5.3vw;
        z-index: 19;
        font-weight: 400;
        color: constants.$medium-grey;
        padding: 0;
      }
    }
    .age {
      .unit {
        left: 6vw;
      }
    }
    .calculate-calories, .calculate-makro {
      display: flex;
      justify-content: space-between;
      h3 {
        font-weight: 400;
        width: 30vw;
        text-align: right;
        span {
          font-weight: 900;
        }
      }
    }
  }

  .main-two-header-text {
    background-color: constants.$purple;
    h2 {
      span {
        color: constants.$yellow;
      }
    }
  }
  .main-three-header-text {
    background-color: constants.$dark-blue;
    h2 {
      span {
        color: constants.$light-pink;
      }
    }
  }
}
.manage-weight-main-cards {
  background-color: constants.$white;
  padding: 3vw;
}

/* --- macronutrient summary section --- */

.macronutrient-summary {
  padding: 3vw 1vw 5vw 1vw;
  position: relative;
  background: constants.$light-green;
  color: constants.$dark-grey;
  border-radius: 0 0 0.5vw 0.5vw;
  h3 {
    padding: 0 0 1.5vw 0;
    font-weight: 900;
  }
  .macronutrient-summary-box {
    display: flex;
    justify-content: space-between;
  }
  .macro-card {
    background-color: constants.$white;
    border-radius: 0.5vw;
    width: 22vw;
    padding: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transform: 0.5s;
    h3 {
      padding: 0;
      font-weight: 400;
      span {
        font-weight: 900;
      }
    }
    .card-circle {
      h3 {
        padding: 0;
      }
      h4 {
        color: constants.$dark-blue;
        margin: 0;
      }
      .percent {
        margin: 1vw 0;
        padding: 0;
        width: 20vw;
        height: 20vw;
        position: relative;
        svg {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 100;
          circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke: constants.$light-grey;
            stroke-width: 10;
            stroke-linecap: round;
          }
          circle:nth-child(2) {
            stroke-dasharray: 57vw;
            stroke-dashoffset: 57vw;
          }
        }
        .number {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          h3 span{
            font-weight: 900;
          }
        }
      }
    }
    .bar-holder {
      width: 100%;
      background-color: rgb(231, 231, 231);
      border-radius: 20px;
      margin: 0.5vw auto; 
      .bar {
        border-radius: 20px;
        height: 1vw;
      }
      .bar-1 {
        width: 20%;
        background-image: linear-gradient(100deg, constants.$fuccia, constants.$dark-orange);
      }
      .bar-2 {
        width: 40%;
        background-image: linear-gradient(100deg, constants.$aqua, constants.$purple);
      }
      .bar-3 {
        width: 60%;
        background-image: linear-gradient(100deg, constants.$dark-blue, constants.$dark-green);
      }
    }
    .progress-bar-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .macro-card:nth-child(1) .card-circle .percent svg circle:nth-child(2) {
    stroke: constants.$fuccia;
    stroke-dashoffset: 55vw;
  }
  .macro-card:nth-child(2) .card-circle .percent svg circle:nth-child(2) {
    stroke: constants.$aqua;
    stroke-dashoffset: 25vw;
  }
  .macro-card:nth-child(3) .card-circle .percent svg circle:nth-child(2) {
    stroke: constants.$dark-green;
    stroke-dashoffset: 5vw;
  }
  .continue-buttons {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    .new-search-button {
      color: constants.$fuccia;
      background-color: constants.$light-pink;
      border: 1.5px solid constants.$fuccia;
      margin: 3vw 3vw 0 3vw;
    }
    .new-search-button:hover {
      background-color: constants.$medium-pink;
    }
    .save-data-button {
      background-color: constants.$fuccia;
      border: 1.5px solid constants.$fuccia;
      margin: 3vw 3vw 0 3vw;
    }
    .save-data-button:hover {
      background-color: constants.$dark-pink;
      border: 1.5px solid constants.$dark-pink;
    }
  }
}