@use "constants";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(closest-side, constants.$light-blue, constants.$light-blue, constants.$dark-blue);
  height: 100vh;
  // width: 100vw;
}