{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
  <header class="carousel">
    <div class="carousel-box">
      <h1><span>Get in</span> Shape</h1>
      <div class="text-box">
        <h3>We help you create an outstanding lifestyle with tons of tips to healthy habits so that you can feel a Sculpted Goddess.</h3>
      </div>
    </div>
    <div class="header-image">
      <img src="static/images/sculpted-goddess.png" alt="Sculpted Goddess" />
    </div>
  </header>
  <section class="training-plan">
    <div class="training-plan-box">
        <h1><span>Training</span> Plan</h1>
        <div class="text-box">
          <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</h3>
        </div>
        <a href="/get_toned"><button>get toned</button></a>
    </div>
    <div class="cropped image-position-right">
      <img src="static/images/training-plan.jpg" alt="dumbells" />
    </div>
    <span class="left-background-box" />
  </section>
  <section class="healthy-recipes">
    <div class="cropped image-position-left">
      <img src="static/images/healthy-recipes.jpg" alt="healthy food" />
    </div>
    <div class="healthy-recipes-box">
        <h1><span>Healthy</span> Recipes</h1>
        <div class="text-box">
          <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</h3>
        </div>
        <a href="/eat_healthy"><button>eat healthy</button></a>
    </div>
    <span class="right-background-box" />
  </section>
  <section class="weightloss-program">
    <div class="weightloss-box">
      <h1><span>Weightloss</span> Program</h1>
      <div class="text-box">
        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</h3>
      </div>
      <a href="/manage_weight"><button>manage weight</button></a>
    </div>
    <div class="weightloss-image">
      <img src="static/images/manage-weight.png" alt="Manage weight" />
    </div>
  </section>
  <section class="contact-us">
    <div class="contact-us-box">
        <h1><span>Contact</span> Us</h1>
        <div class="text-box">
          <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</h3>
        </div>
        <a href="/contact_us"><button>get in contact</button></a>
    </div>
    <div class="cropped image-position-right">
      <img src="static/images/contact-us.jpg" alt="Girl with phone" />
    </div>
    <span class="left-background-box" />
  </section>
{% endblock %}