<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Sculpted Goddess</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/favicon.ico" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    {% block headerScript %}
    {% endblock %}
  </head>
  <body>
    <nav>
      <a class="navbar-brand" href="/">Sculpted Goddess</a>
        <ul>
          <li><a href="/about_us">about us</a></li>
          <li><a href="/eat_healthy">eat healthy</a></li>
          <li><a href="/get_toned">get toned</a></li>
          <li><a href="/manage_weight">manage weight</a></li>
          <li><a href="/contact_us">contact us</a></li>
        </ul>
      {% if session.user_id %}
        <ul>
          <a href="/logout">Log Out</a>
        </ul>
      {% else %}
        <ul>
          <li><a href="/register">Signup</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      {% endif %}
    </nav>

    <!-- {% if get_flashed_messages() %}
      <header>
          <div class="alert alert-primary border text-center" role="alert">
              {{ get_flashed_messages() | join(" ") }}
          </div>
      </header>
    {% endif %} -->

    <main>
      {% block main %}
      {% endblock %}
    </main>
    {% if not (request.path.endswith("login") or request.path.endswith("register")) %}
      <footer>
        <div class="upper-footer">
          <a class="navbar-brand" href="/">Sculpted Goddess</a>
          <ul class="social-media">
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
          </ul>
          <ul>
            <li><a href="/about_us">about us</a></li>
            <li><a href="/eat_healthy">eat healthy</a></li>
            <li><a href="/get_toned">get toned</a></li>
            <li><a href="/manage_weight">manage weight</a></li>
            <li><a href="/contact_us">contact us</a></li>
          </ul>
        </div>
        <div class="lower-footer">
          <p>MADE WITH <span><i class="fas fa-heart"></i></span> BY <a href="https://www.graphicsbyasa.com/" target="_blank">Graphics by Åsa</a></p>
          <div id="edamam-badge" data-color="badge"></div>
        </div>
      </footer>
    {% endif %}
    <scripts>
      {% block script %}
      {% endblock %}
    </scripts>
  </body>
</html>