{% extends "layout.html" %}

{% block title %}Manage weight{% endblock %}

{% block main %}
<header class="manage-weight-header">
  <div class="manage-weight-header-box">
    <h1><span>Weightloss</span> Program</h1>
    <div class="text-box">
      <h3>We help you create your personally adapted meal plans so that you can achieve your goals.</h3>
    </div>
  </div>
  <div class="manage-weight-header-image">
    <img id="header-image" src="manage_weight.png" alt="Manage weight" />
  </div>
</header>

<main>
  <div class="manage-weight-main">

    <!-- Calculate Dietary Needs Form -->
    <div class="main-header-text" id="dietaryNeedsContainer">
      <h2><span>Introduce</span> your data</h2>
      <h3>To calculate your dietary needs</h3>
    </div>
    <form class="main-content" id="dietaryNeeds" action="/manage_weight" method="POST">
      <div class="gender-box">
        <h3>Gender</h3>
        <div class="gender-container">
          <div>
            <input class="male-input" type="radio" id="male" name="gender" onclick="manage()" value="5" required>
            <label class="male" for="male">
              <i class="fas fa-male"></i>
              <div class="text-box">
                <h3>I am</h3>
                <h2>male</h2>
              </div>
            </label>
          </div>
          <div>
            <input class="female-input" type="radio" id="female" name="gender" onclick="manage()" value="-161">
            <label class="female" for="female">
              <i class="fas fa-female"></i>
              <div class="text-box">
                <h3>I am</h3>
                <h2>female</h2>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="weight-height-age-container">
        <div class="weight">
          <h3>Weight</h3>
          <input type="number" id="weight" name="weight" onkeyup="manage()" placeholder="{{weight}}" min="0" max="300" required/>
          <h3 class="unit">kg</h3>
        </div>
        <div class="height">
          <h3>Height</h3>
          <input type="number" id="height" name="height" onkeyup="manage()" placeholder="{{height}}" min="0" max="300" required/>
          <h3 class="unit">cm</h3>
        </div>
        <div class="age">
          <h3>Age</h3>
          <input type="number" id="age" name="age" onkeyup="manage()" placeholder="{{age}}" min="0" max="130" required/>
          <h3 class="unit">years</h3>
        </div>
      </div>
      <div class="activity-level">
        <h3>Activity level</h3>
        <div class="activity-options-container" id="level">
          <label class="container" for="sedentary">
            <input type="radio" id="sedentary" name="activity" onclick="manage()" value=1.2 required>
            <span class="checkmark"></span>
          </label>
          
          <label class="container" for="lightly-active">
            <input type="radio" id="lightly-active" name="activity" onclick="manage()" value=1.375>
            <span class="checkmark"></span>
          </label>
          
          <label class="container" for="moderately-active">
            <input type="radio" id="moderately-active" name="activity" onclick="manage()" value=1.55>
            <span class="checkmark"></span>
          </label>
          
          <label class="container" for="very-active">
            <input type="radio" id="very-active" name="activity" onclick="manage()" value=1.725>
            <span class="checkmark"></span>
          </label>

          <label class="container" for="extra-active">
            <input type="radio" id="extra-active" name="activity" onclick="manage()" value=1.9>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="label-text">
          <h4>sedentary</h4>
          <h4>extra active</h4>
        </div>
      </div>
      <div class="calculate-calories">
        <button disabled type="submit" id="submit-button">Calculate calorie intake</button>
        {% if tdee != '' %}
          <h3>Congratulations, your total number of calories burned in a day is <span>{{tdee}}</span> cal!</h3>
        {% endif %}
      </div>
    </form>

    <!-- Desired Weight Form -->
      <div class="main-header-text main-two-header-text" id="desiredWeightContainer">
        <h2><span>Set your</span> goal</h2>
        <h3>To calculate your macronutrient ratio</h3>
      </div>
      <form class="main-content" id="macronutrientRatio" action="/manage_weight/macronutrients" method="POST">

        <div class="action-box">
          <h3>Desired action</h3>
          <div class="action-container">
            <div>
              <input class="gain-input" type="radio" id="gain" name="action" onclick="manageMacro()" value="gain" required>
              <label class="gain" for="gain">
                <i class="fas fa-dumbbell"></i>
                <div class="text-box">
                  <h3>I want to</h3>
                  <h2>gain muscle</h2>
                </div>
              </label>
            </div>
            <div>
              <input class="lose-input" type="radio" id="lose" name="action" onclick="manageMacro()" value="lose">
              <label class="lose" for="lose">
                <i class="fas fa-weight"></i>
                <div class="text-box">
                  <h3>I want to</h3>
                  <h2>lose weight</h2>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div class="desired-weight-container">
          <div class="weight">
            <h3>Desired weight</h3>
            <input type="number" id="desiredWeight" name="desiredWeight" onkeyup="manageMacro()" placeholder="{{desiredWeight}}" min="0" max="300" required/>
            <h3 class="unit">kg</h3>
          </div>
        </div> 
    
        <div class="calculate-makro">
          <button disabled type="submit" id="macro-button">Show my makro needs</button>
        </div>
      </form>
  </div>

  <!-- Macronutrient Summary -->
  <div class="macronutrient-summary" id="macronutrientSummary">
    <h3>Congratulations, here is your Macronutrient Summary!</h3>
    <div class="macronutrient-summary-box">

      <div class="macro-card">
        <h3>Body Mass Index (BMI)</h3>
        <div class="card-circle">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <h3><span>{{bmi}}</span></h3>
              <h3>kg/m2</h3>
            </div>
          </div>
          <h3>Your BMI:</h3>
          <h4>{{bmiResult}}</h4>
        </div>
      </div>

      <div class="macro-card">
        <h3>Calorie intake (per day)</h3>
        <div class="card-circle">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <h3><span>{{recommendedCalIntake}}</span></h3>
              <h3>Calories</h3>
            </div>
          </div>
          <h3>To reach final weight:</h3>
          <h4>{{desiredWeight}} kg</h4>
        </div>
      </div>

      <div class="macro-card">
        <h3>30 Day Milestone</h3>
        <div class="card-circle">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <h3><span>{{milestoneWeight}}</span></h3>
              <h3>kg</h3>
            </div>
          </div>
          <h3>To reach milestone:</h3>
          <h4>{{milestoneWeight}} kg</h4>
        </div>
      </div>

      <div class="macro-card">
        <h3>Macronutrient Goals</h3>
        Suggested daily intake
        <h3>Carbs - {{carbs}} g</h3>
        <h3>Proteins - {{prot}} g</h3>
        <h3>Fats - {{fat}} g</h3>
      </div>

    </div>
  </div>
</main>
{% endblock %}

{% block script %}
  <script>
    const getCurrentUrlToImage = () => {
      let thePath = window.location.href;
      let lastUrlIndex = thePath.substring(thePath.lastIndexOf('/')+1)

      if(lastUrlIndex === "manage_weight") {
          return "static/images/manage-weight.png"
      } else {
          return "../static/images/manage-weight.png"
      }
    }
    window.onload = () => {
      let imageSrc = document.getElementById('header-image')
      let formSrc = document.getElementById('form-source');
      imageSrc.setAttribute("src", getCurrentUrlToImage());
      formSrc.setAttribute("src", getCurrentUrlToImage());
    }
  </script>
  <script id="form-source" src="static/form.js"></script>
{% endblock %}