{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block style %}<link href="/static/login.css" rel="stylesheet">{% endblock %}

{% block main %}
  <div class="auth">
    <div class="auth-content">
      <div class="signup-left-container">
        <h3>Signing up gives you free access to our content:</h3>
        <div><span><i class="fas fa-check"></i></span><p>Healthy recipes adapted to your goals.</p></div>
        <div><span><i class="fas fa-check"></i></span><p>Muscle Mass and Body Index counter.</p></div>
        <div><span><i class="fas fa-check"></i></span><p>Personal training recommendations.</p></div>
      </div>
      <div class="signup-right-container">
        <h2><span>Who's</span> there?</h2>
        <form action="/register" method="POST">
          <div>
            <span><i class="fas fa-envelope"></i></span><input autocomplete="off" autofocus type="text" name="username" placeholder="Username"/>
          </div>
          <div>
            <span><i class="fas fa-lock"></i></span><input type="text" name="password" placeholder="Password" />
          </div>
          <div>
            <span><i class="fas fa-lock"></i></span><input type="text" name="confirmation" placeholder="Password (again)" />
          </div>
          <button type="submit">Let me in</button>
        </form>
      </div>
    </div>
    <h3>Already have an account? Log In <a href="/login"><span class="signup-link">here</span></a>.</h3>
  </div>
{% endblock %}